template(name="rulesActions")
  h2
    i.fa.fa-magic
    | {{{_ 'r-rule' }}} "#{data.ruleName.get}" - {{{_ 'r-add-action'}}}
  .triggers-content
    .triggers-body
      .triggers-side-menu
        ul
          li.active.js-set-board-actions
            i.fa.fa-columns
          li.js-set-card-actions
            i.fa.fa-sticky-note
          li.js-set-checklist-actions
            i.fa.fa-check
          li.js-set-mail-actions
            i.fa.fa-at
      .triggers-main-body
        if ($eq currentActions.get 'board')
          +boardActions(ruleName=data.ruleName triggerVar=data.triggerVar)
        else if ($eq currentActions.get 'card')
          +cardActions(ruleName=data.ruleName triggerVar=data.triggerVar)
        else if ($eq currentActions.get 'checklist')
          +checklistActions(ruleName=data.ruleName triggerVar=data.triggerVar)
        else if ($eq currentActions.get 'mail')
          +mailActions(ruleName=data.ruleName triggerVar=data.triggerVar)
  div.rules-back
        button.js-goback
          i.fa.fa-chevron-left
          | {{{_ 'back'}}}
