template(name="checklistActions")
  div.trigger-item
    div.trigger-content
      div.trigger-dropdown
        select(id="check-action")
          option(value="add") {{{_'r-add'}}}
          option(value="remove") {{{_'r-remove'}}}
      div.trigger-text 
        | {{{_'r-checklist'}}}
      div.trigger-dropdown
        input(id="checklist-name",type=text,placeholder="{{{_'r-name'}}}")  
    div.trigger-button.js-add-checklist-action.js-goto-rules
      i.fa.fa-plus  

  div.trigger-item
    div.trigger-content
      div.trigger-dropdown
        select(id="checkall-action")
          option(value="check") {{{_'r-check-all'}}}
          option(value="uncheck") {{{_'r-uncheck-all'}}}
      div.trigger-text 
        | {{{_'r-items-check'}}}
      div.trigger-dropdown
        input(id="checklist-name2",type=text,placeholder="{{{_'r-name'}}}")  
    div.trigger-button.js-add-checkall-action.js-goto-rules
      i.fa.fa-plus


  div.trigger-item
    div.trigger-content
      div.trigger-dropdown
        select(id="check-item-action")
          option(value="check") {{{_'r-check'}}}
          option(value="uncheck") {{{_'r-uncheck'}}}
      div.trigger-text 
        | {{{_'r-item'}}}
      div.trigger-dropdown
        input(id="checkitem-name",type=text,placeholder="{{{_'r-name'}}}")
      div.trigger-text 
        | {{{_'r-of-checklist'}}}
      div.trigger-dropdown
        input(id="checklist-name3",type=text,placeholder="{{{_'r-name'}}}")  
    div.trigger-button.js-add-check-item-action.js-goto-rules
      i.fa.fa-plus

  div.trigger-item
      div.trigger-content
        div.trigger-text 
          | {{{_'r-add-checklist'}}}
        div.trigger-dropdown
          input(id="checklist-name-3",type=text,placeholder="{{{_'r-name'}}}")
        div.trigger-text 
          | {{{_'r-with-items'}}}
        div.trigger-dropdown
          input(id="checklist-items",type=text,placeholder="{{{_'r-items-list'}}}")    
      div.trigger-button.js-add-checklist-items-action.js-goto-rules
        i.fa.fa-plus  


   
  



