template(name="editor")
  a(title="{{_ 'convert-to-markdown'}}")
    | ðŸ“
  a(title="{{_ 'copy-text-to-clipboard'}}")
    | ðŸ“‹
  span.copied-tooltip {{_ 'copied'}}
  textarea.editor(
    dir="auto"
    class="{{class}}"
    id=id
    autofocus=autofocus
    placeholder="{{_ 'comment-placeholder'}}")
    +Template.contentBlock

template(name="viewer")
  .viewer(dir="auto")
    +mentions
      +markdown
        {{> UI.contentBlock }}
