template(name="globalSearchHeaderBar")
  if currentUser
    h1
      i.fa.fa-search
      | {{_ 'globalSearch-title'}}

template(name="globalSearchModalTitle")
  if currentUser
    h2
      i.fa.fa-keyboard-o
      | {{_ 'globalSearch-title'}}

template(name="resultsPaged")
  if resultsHeading
    h1= resultsHeading
  each card in results
    +resultCard(card)
  table.global-search-footer
    tr
      td.global-search-previous-page
        if hasPreviousPage
          button.js-previous-page
            | {{_ 'previous-page' }}
      td.global-search-next-page(align="right")
        if hasNextPage
          button.js-next-page
            | {{_ 'next-page' }}

template(name="globalSearch")
  if currentUser
    .wrapper(class=boardColorClass)
      form.global-search-page.js-search-query-form(onsubmit="return false;")
        input.global-search-query-input(
          style="display: inline-block;"
          id="global-search-input"
          type="text"
          name="searchQuery"
          placeholder="{{_ 'search-example'}}"
          value="{{ queryValue }}"
          autofocus dir="auto"
        )
        button.js-new-search.board-color-belize(type="button" style="background: #216694 !important; background-color: #216694 !important; color: #fff !important; border: none !important;")
          | 🧹
      if searching
        +spinner
      else if hasResults
        .global-search-results-list-wrapper
          if hasQueryErrors
            ul
              each msg in errorMessages
                li.global-search-error-messages
                  = msg
          +resultsPaged getSearchData
      else if serverError
        .global-search-page
          .global-search-help
            h1 {{_ 'server-error' }}
            +viewer
              | {{_ 'server-error-troubleshooting' }}
      else
        .global-search-page
          .global-search-help
            h2 {{_ 'boards' }}
            .lists-wrapper
              each title in myBoardNames
                span.card-label.list-title.js-board-title
                  = title
            h2 {{_ 'lists' }}
            .lists-wrapper
              each title in myLists
                span.card-label.list-title.js-list-title
                  = title
            h2 {{_ 'label-colors' }}
            .palette-colors: each label in labelColors
              span.card-label.palette-color.js-label-color(class="card-label-{{label.color}}")
                = label.name
            if myLabelNames
              h2 {{_ 'label-names' }}
              .lists-wrapper
                each name in myLabelNames
                  span.card-label.list-title.js-label-name
                    = name
          .global-search-instructions
            +viewer
              = searchInstructions
