head
  title
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  //- XXX We should use pathFor in the following `href` to support the case
    where the application is deployed with a path prefix, but it seems to be
    difficult to do that cleanly with Blaze -- at least without adding extra
    packages.
  link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico")
  link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
  link(rel="manifest" href="/site.webmanifest")
  link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
  meta(name="apple-mobile-web-app-title" content="Wekan")
  meta(name="application-name" content="Wekan")
  meta(name="msapplication-TileColor" content="#00aba9")
  meta(name="theme-color" content="#ffffff")

template(name="userFormsLayout")
  section.auth-layout
    if currentSetting.hideLogo
      h1.at-form-landing-logo
        br
        br
    unless currentSetting.hideLogo
      h1.at-form-landing-logo
      if currentSetting.customLoginLogoImageUrl
        if currentSetting.customLoginLogoLinkUrl
          a(href="{{currentSetting.customLoginLogoLinkUrl}}")
            img(src="{{currentSetting.customLoginLogoImageUrl}}" width="300" height="auto")
          br
        unless currentSetting.customLoginLogoLinkUrl
          img(src="{{currentSetting.customLoginLogoImageUrl}}" width="300" height="auto")
          br
      unless currentSetting.customLoginLogoImageUrl
        div#isSettingDatabaseCallDone
          img(src="{{pathFor '/wekan-logo.svg'}}" alt="" width="300" height="auto")
          br
      if currentSetting.textBelowCustomLoginLogo
        +viewer
          | {{currentSetting.textBelowCustomLoginLogo}}
        br
    section.auth-dialog
      if isLoading
        +loader
      else
        +Template.dynamic(template=content)
        if currentSetting.displayAuthenticationMethod
          +connectionMethod(authenticationMethod=currentSetting.defaultAuthenticationMethod)
        if isLegalNoticeLinkExist
          div#legalNoticeDiv
            span#legalNoticeSpan {{_ 'acceptance_of_our_legalNotice'}}
            a#legalNoticeAtLink.at-link(href="{{currentSetting.legalNotice}}", target="_blank", rel="noopener noreferrer")
              | {{_ 'legalNotice'}}
          if getLegalNoticeWithWritTraduction
            div
        div.at-form-lang
          select.select-lang.js-userform-set-language
            each languages
              if isCurrentLanguage
                option(value="{{tag}}" selected="selected") {{name}}
              else
                option(value="{{tag}}") {{name}}

template(name="defaultLayout")
  +header
  #content
    | {{{afterBodyStart}}}
    +Template.dynamic(template=content)
    | {{{beforeBodyEnd}}}
  if (Modal.isOpen)
    #modal
      .overlay
      if (Modal.isWide)
        .modal-content-wide.modal-container
          a.modal-close-btn.js-close-modal
            i.fa.fa-times-thin
          +Template.dynamic(template=Modal.getHeaderName)
          +Template.dynamic(template=Modal.getTemplateName)
      else
        .modal-content.modal-container
          a.modal-close-btn.js-close-modal
            i.fa.fa-times-thin
          +Template.dynamic(template=Modal.getHeaderName)
          +Template.dynamic(template=Modal.getTemplateName)

template(name="notFound")
  +message(label='page-not-found')

template(name="message")
  .big-message.quiet(class=color)
    h1 {{_ label}}
    unless currentUser
      with(pathFor route='atSignIn')
        p {{{_ 'page-maybe-private' this}}}

template(name="loader")
  h1.loadingText {{_ 'loading'}}
  .lds-roller
    div
    div
    div
    div
    div
    div
    div
