head
  title LibreBoard
  meta(name="viewport"
   content="maximum-scale=1.0,width=device-width,initial-scale=1.0,user-scalable=0")
  link(rel="shortcut icon" href="/favicon.png")

template(name="userFormsLayout")
  section.auth-layout
    h1.at-form-landing-logo
      img(src="/logo.png" title="LibreBoard")
    +Template.dynamic(template=content)

template(name="defaultLayout")
  +header
  #content
    +Template.dynamic(template=content)
  if (Modal.isOpen)
    #modal
      .overlay
      .modal-content
        a.modal-close-btn.js-close-modal
          i.fa.fa-times-thin
        +Template.dynamic(template=Modal.getTemplateName)

template(name="notFound")
  +message(label='page-not-found')

template(name="message")
  .big-message.quiet(class=color)
    h1 {{_ label}}
    with(pathFor route='atSignIn')
      p {{{_ 'page-maybe-private' this}}}
