head
  title iW[board]
  meta(name="viewport"
   content="maximum-scale=1.0,width=device-width,initial-scale=1.0,user-scalable=0")
  //- XXX We should use pathFor in the following `href` to support the case
    where the application is deployed with a path prefix, but it seems to be
    difficult to do that cleanly with Blaze -- at least without adding extra
    packages.
  link(rel="shortcut icon" href="/iw-board-favicon.png")

template(name="userFormsLayout")
  section.auth-layout
    h1.at-form-landing-logo
      img(src="{{pathFor '/itway.board.png'}}" alt="iW[board]")
    +Template.dynamic(template=content)

template(name="defaultLayout")
  +header
  #content
    +Template.dynamic(template=content)
  if (Modal.isOpen)
    #modal
      .overlay
      .modal-content
        a.modal-close-btn.js-close-modal
          i.fa.fa-times-thin
        +Template.dynamic(template=Modal.getTemplateName)

template(name="notFound")
  +message(label='page-not-found')

template(name="message")
  .big-message.quiet(class=color)
    h1 {{_ label}}
    with(pathFor route='atSignIn')
      p {{{_ 'page-maybe-private' this}}}
