.pop-over.js-pop-over(
  class="{{#unless title}}miniprofile{{/unless}}"
  class=currentBoard.colorClass
  class="{{#unless title}}no-title{{/unless}}"
  style="left:{{offset.left}}px; top:{{offset.top}}px;")
  .header
    a.back-btn.js-back-view(class="{{#unless hasPopupParent}}is-hidden{{/unless}}" href="#")
      i.fa.fa-chevron-left
    span.header-title= title
    a.close-btn.js-close-pop-over(href = "#")
      i.fa.fa-times-thin
  .content-wrapper
    //-
      We display the all stack of popup content next to each other and move
      the "window" by translating .content-container inside .content-wrapper.
    .content-container(class="popup-container-depth-{{depth}}")
      each stack
        //-
          XXX We need a better way to express the "is the last element" condition.
          Hopefully the @last helper will come soon (or at least @index)
        .content(class="{{#unless $eq popupName ../popupName}}no-height{{/unless}}")
          +Template.dynamic(template=popupName data=dataContext)
      .clearfix
