template(name="importHeaderBar")
  h1
    a.back-btn(href="{{pathFor 'home'}}")
      i.fa.fa-chevron-left
    | {{_ title}}

template(name="import")
  .wrapper
    if error.get
      .warning {{_ error.get}}
    +Template.dynamic(template=currentTemplate)

template(name="importTextarea")
  form
    p: label(for='import-textarea') {{_ instruction}}
    textarea.js-import-json(placeholder="{{_ 'import-json-placeholder'}}" autofocus)
      | {{jsonText}}
    if isSandstorm
      h1.warning DANGER !!! THIS DESTROYS YOUR IMPORTED DATA, CAUSES BOARD NOT FOUND ERROR WHEN YOU OPEN THIS GRAIN AGAIN https://github.com/wekan/wekan/issues/1430
      p.warning {{_ 'import-sandstorm-warning'}}
    input.primary.wide(type="submit" value="{{_ 'import'}}")

template(name="importMapMembers")
  h2 {{_ 'import-map-members'}}
  .map-members
    p {{_ 'import-members-map'}}
    .mapping-list
      each members
        a.mapping-item.js-select-member(class="{{#if wekanId}}filled{{/if}}")
          .profile-source
            .full-name= fullName
            .username
              | ({{username}})
          .wekan
            if wekanId
              +userAvatar(userId=wekanId)
            else
              a.member.add-member
                i.fa.fa-plus
      //-
        Due to the way the flewbox layout is working, we need to set some
        invisible items so that the last row items have a consistent width.
        See http://jsfiddle.net/Ln4h3c4n/ for an minimal example of the issue.
      .mapping-item.ghost-item
      .mapping-item.ghost-item
      .mapping-item.ghost-item
      .mapping-item.ghost-item
      .mapping-item.ghost-item
    form
      input.primary.wide(type="submit" value="{{_ 'done'}}")

template(name="importMapMembersAddPopup")
  .select-member
    p
      | {{_ 'import-user-select'}}
    .js-map-member
      +esInput(index="users")
    ul.pop-over-list
      +esEach(index="users")
        li.item.js-member-item
          a.name.js-select-import(title="{{profile.fullname}} ({{username}})" data-id="{{_id}}")
            +userAvatar(userId=_id esSearch=true)
            span.full-name
              = profile.fullname
              | (<span class="username">{{username}}</span>)
      +ifEsIsSearching(index='users')
        +spinner
      +ifEsHasNoResults(index="users")
        .manage-member-section
          p.quiet {{_ 'no-results'}}
