template(name="userAvatar")
  .member.js-member(class="{{class}}" title="{{userData.profile.name}} ({{userData.username}})")
    +avatar(user=userData size=size)
    if showStatus
      span.member-presence-status(class=presenceStatusClassName)
      span.member-type(class=memberType)


template(name="userPopup")
  .board-member-menu
    .mini-profile-info
      +userAvatar(user=user)
        .info
          h3.bottom
            a.js-profile(href="{{ pathFor route='Profile' username=user.username }}")= user.profile.name
            p.quiet.bottom @{{ user.username }}

template(name="memberName")
  a.inline-object.js-show-mem-menu(href="{{ pathFor route='Profile' username=user.username }}")
    = user.profile.name
    if username
      | ({{ user.username }})
