template(name="headerUserBar")
  #header-user-bar
    a.header-user-bar-name.js-open-header-member-menu(title="{{_ 'memberMenuPopup-title'}}")
      .header-user-bar-avatar
        +userAvatar(userId=currentUser._id)
      unless isMiniScreen
        unless isSandstorm
          if currentUser.profile.fullname
            = currentUser.profile.fullname
          else
            = currentUser.username

template(name="memberMenuPopup")
  ul.pop-over-list
    with currentUser
      li
        a.js-my-cards(href="{{pathFor 'my-cards'}}")
          i.fa.fa-list
          | {{_ 'my-cards'}}
      li
        a.js-due-cards(href="{{pathFor 'due-cards'}}")
          i.fa.fa-calendar
          | {{_ 'dueCards-title'}}
      li
        a.js-global-search(href="{{pathFor 'global-search'}}")
          i.fa.fa-search
          | {{_ 'globalSearch-title'}}
      li
        a(href="{{pathFor 'home'}}")
          span.fa.fa-home
          | {{_ 'all-boards'}}
      li
        a(href="{{pathFor 'public'}}")
          span.fa.fa-globe
          | {{_ 'public'}}
      li
        a.board-header-btn.js-open-archived-board
          i.fa.fa-archive
          span {{_ 'archives'}}
      unless currentUser.isWorker
        ul.pop-over-list
          li
            a(href="{{pathFor 'board' id=templatesBoardId slug=templatesBoardSlug}}")
              i.fa.fa-clone
              | {{_ 'templates'}}
      if currentUser.isAdmin
        li
          a.js-go-setting(href="{{pathFor 'setting'}}")
            i.fa.fa-lock
            | {{_ 'admin-panel'}}
      hr
      if isSameDomainNameSettingValue
        li
          a.js-invite-people
            i.fa.fa-envelope
            | {{_ 'invite-people'}}
      if isNotOAuth2AuthenticationMethod
        li
          a.js-edit-profile
            i.fa.fa-user
            | {{_ 'edit-profile'}}
      li
        a.js-change-settings
          i.fa.fa-cog
          | {{_ 'change-settings'}}
      li
        a.js-change-avatar
          i.fa.fa-picture-o
          | {{_ 'edit-avatar'}}
      unless isSandstorm
        if isNotOAuth2AuthenticationMethod
          li
            a.js-change-password
              i.fa.fa-key
              | {{_ 'changePasswordPopup-title'}}
      li
        a.js-change-language
          i.fa.fa-flag
          | {{_ 'changeLanguagePopup-title'}}
  unless isSandstorm
    hr
    ul.pop-over-list
      li
        a.js-logout
          i.fa.fa-sign-out
          | {{_ 'log-out'}}

template(name="invitePeoplePopup")
  ul#registration-setting.setting-detail
    li
      #invite-people-infos
    li
      br
    li
      .invite-people(class="{{#if currentSetting.disableRegistration}}{{else}}hide{{/if}}")
        ul
          li
            .title {{_ 'invite-people'}}
            textarea#email-to-invite.wekan-form-control(rows='5', placeholder="{{_ 'email-addresses'}}")
          li
            .title {{_ 'to-boards'}}
            .bg-white
              each boards
                a.option.flex.js-toggle-board-choose(id= _id)
                  .materialCheckBox(data-id= _id)

                  span= title

          li
            button.js-email-invite.primary {{_ 'invite'}}

template(name="editProfilePopup")
  form
    label
      | {{_ 'fullname'}}
      input.js-profile-fullname(type="text" value=profile.fullname autofocus)
    label
      | {{_ 'username'}}
      span.error.hide.username-taken
        | {{_ 'error-username-taken'}}
      if allowUserNameChange
        input.js-profile-username(type="text" value=username)
      else
        input.js-profile-username(type="text" value=username readonly)
    label
      | {{_ 'initials'}}
      input.js-profile-initials(type="text" value=profile.initials)
    label
      | {{_ 'email'}}
      span.error.hide.email-taken
        | {{_ 'error-email-taken'}}
      if allowEmailChange
        input.js-profile-email(type="email" value="{{emails.[0].address}}")
      else
        input.js-profile-email(type="email" value="{{emails.[0].address}}" readonly)
    div.buttonsContainer
      input.primary.wide(type="submit" value="{{_ 'save'}}")
      if allowUserDelete
        div
        input#deleteButton.primary.wide(type="button" value="{{_ 'delete'}}")

template(name="changePasswordPopup")
  +atForm(state='changePwd')

template(name="changeLanguagePopup")
  ul.pop-over-list
    each languages
      li(class="{{# if isCurrentLanguage}}active{{/if}}")
        a.js-set-language
          = name
          if isCurrentLanguage
            i.fa.fa-check

template(name="changeSettingsPopup")
  ul.pop-over-list
    //li
    //  a.js-toggle-system-messages
    //    i.fa.fa-comments-o
    //    | {{_ 'hide-system-messages'}}
    //    if hiddenSystemMessages
    //      i.fa.fa-check
    //li
    //  a.js-toggle-desktop-drag-handles
    //    i.fa.fa-arrows
    //    | {{_ 'show-desktop-drag-handles'}}
    //    if isShowDesktopDragHandles
    //      i.fa.fa-check
    unless currentUser.isWorker
      li
        label.bold.clear
          i.fa.fa-sort-numeric-asc
          | {{_ 'show-cards-minimum-count'}}
        input#show-cards-count-at.inline-input.left(type="number" value="#{showCardsCountAt}" min="-1")
        label.bold.clear
          i.fa.fa-calendar
          | {{_ 'start-day-of-week'}}
        select#start-day-of-week.inline-input.left
          each day in weekDays startDayOfWeek
            if day.isSelected
              option(selected="true", value="#{day.value}") #{day.name}
            else
              option(value="#{day.value}") #{day.name}
        label.bold.clear
          | {{_ 'card-settings'}}
        ul#cards.card-description-rescued
          a.flex.js-rescue-card-description(title="{{_ 'rescue-card-description'}}")
            b &nbsp;
            #rescue-card-description.materialCheckBox.left(class="{{#if rescueCardDescription}}is-checked{{/if}}", value=rescueCardDescription)
            span {{_ 'rescue-card-description'}}
        input.js-apply-user-settings.left(type="submit" value="{{_ 'apply'}}")

template(name="userDeletePopup")
  unless currentUser.isWorker
    p {{_ 'delete-user-confirm-popup'}}
    button.js-confirm.negate.full(type="submit") {{_ 'delete'}}
