template(name="headerUserBar")
  #header-user-bar
    a.header-user-bar-name.js-open-header-member-menu
      .header-user-bar-avatar
        +userAvatar(userId=currentUser._id)
      if currentUser.profile.fullname
        = currentUser.profile.fullname
      else
        = currentUser.username

template(name="memberMenuPopup")
  ul.pop-over-list
    with currentUser
      li: a.js-edit-profile {{_ 'edit-profile'}}
      li: a.js-change-settings {{_ 'change-settings'}}
      li: a.js-change-avatar {{_ 'edit-avatar'}}
      li: a.js-change-password {{_ 'changePasswordPopup-title'}}
      li: a.js-change-language {{_ 'changeLanguagePopup-title'}}
      li: a.js-edit-notification {{_ 'editNotificationPopup-title'}}
    if currentUser.isAdmin
      li: a.js-go-setting(href='/setting') {{_ 'admin-panel'}}
  hr
  ul.pop-over-list
    li: a.js-logout {{_ 'log-out'}}

template(name="editProfilePopup")
  form
    label
      | {{_ 'fullname'}}
      input.js-profile-fullname(type="text" value=profile.fullname autofocus)
    label
      | {{_ 'username'}}
      span.error.hide.username-taken
        | {{_ 'error-username-taken'}}
      input.js-profile-username(type="text" value=username)
    label
      | {{_ 'initials'}}
      input.js-profile-initials(type="text" value=profile.initials)
    input.primary.wide(type="submit" value="{{_ 'save'}}")

template(name="editNotificationPopup")
  ul.pop-over-list
    li
      a.js-toggle-tag-notify-watch
        i.fa.fa-eye.colorful
        | {{_ 'watching'}}
        if hasTag "notify-watch"
          i.fa.fa-check
        span.sub-name {{_ 'notify-watch'}}
    li
      a.js-toggle-tag-notify-participate
        i.fa.fa-bell.colorful
        | {{_ 'tracking'}}
        if hasTag "notify-participate"
          i.fa.fa-check
        span.sub-name {{_ 'notify-participate'}}

template(name="changePasswordPopup")
  +atForm(state='changePwd')

template(name="changeLanguagePopup")
  ul.pop-over-list
    each languages
      li(class="{{# if isCurrentLanguage}}active{{/if}}")
        a.js-set-language
          = name
          if isCurrentLanguage
            i.fa.fa-check

template(name="changeSettingsPopup")
  ul.pop-over-list
    li
      a.js-toggle-system-messages
        | {{_ 'hide-system-messages'}}
        if hiddenSystemMessages
          i.fa.fa-check
    li
      label.bold
        | {{_ 'show-cards-minimum-count'}}
      input#show-cards-count-at.inline-input.left(type="number" value="#{showCardsCountAt}" min="1" max="99" onkeydown="return false")
      input.js-apply-show-cards-at.left(type="submit" value="{{_ 'apply'}}")
