template(name="boardTriggers")
  div.trigger-item#trigger-two
    div.trigger-content
      div.trigger-text 
        | {{_'r-when-a-card'}}
      div.trigger-inline-button.js-open-card-title-popup 
        i.fa.fa-filter
      div.trigger-text 
        | {{_'r-is'}}
      div.trigger-text 
        | {{_'r-added-to'}}
      div.trigger-text 
        | {{_'r-list'}}
      div.trigger-dropdown
        input(id="create-list-name",type=text,placeholder="{{_'r-list-name'}}")
      div.trigger-text 
        | {{_'r-in-swimlane'}}
      div.trigger-dropdown
        input(id="create-swimlane-name",type=text,placeholder="{{_'r-swimlane-name'}}") 
      div.trigger-button.trigger-button-person.js-show-user-field
        i.fa.fa-user
      div.user-details.hide-element
        div.trigger-text
          | {{_'r-by'}}
        div.trigger-dropdown
          input(class="user-name",type=text,placeholder="{{_'username'}}")
    div.trigger-button.js-add-create-trigger.js-goto-action
      i.fa.fa-plus

  div.trigger-item#trigger-three
    div.trigger-content
      div.trigger-text 
        | {{_'r-when-a-card'}}
      div.trigger-inline-button.js-open-card-title-popup 
        i.fa.fa-filter
      div.trigger-text 
        | {{_'r-is-moved'}}
      div.trigger-button.trigger-button-person.js-show-user-field
        i.fa.fa-user
      div.user-details.hide-element
        div.trigger-text
          | {{_'r-by'}}
        div.trigger-dropdown
          input(class="user-name",type=text,placeholder="{{_'username'}}")
    div.trigger-button.js-add-gen-moved-trigger.js-goto-action
      i.fa.fa-plus

  div.trigger-item#trigger-four
    div.trigger-content
      div.trigger-text 
        | {{_'r-when-a-card'}}
      div.trigger-inline-button.js-open-card-title-popup 
        i.fa.fa-filter
      div.trigger-text 
        | {{_'r-is'}}
      div.trigger-dropdown
        select(id="move-action")
          option(value="moved-to") {{_'r-moved-to'}}
          option(value="moved-from") {{_'r-moved-from'}}
      div.trigger-text 
        | {{_'r-list'}}
      div.trigger-dropdown
        input(id="move-list-name",type=text,placeholder="{{_'r-list-name'}}")
      div.trigger-text 
        | {{_'r-in-swimlane'}}
      div.trigger-dropdown
        input(id="create-swimlane-name",type=text,placeholder="{{_'r-swimlane-name'}}") 
      div.trigger-button.trigger-button-person.js-show-user-field  
      div.trigger-button.trigger-button-person.js-show-user-field
        i.fa.fa-user
      div.user-details.hide-element
        div.trigger-text
          | {{_'r-by'}}
        div.trigger-dropdown
          input(class="user-name",type=text,placeholder="{{_'username'}}")
    div.trigger-button.js-add-moved-trigger.js-goto-action
      i.fa.fa-plus

  div.trigger-item#trigger-five
    div.trigger-content
      div.trigger-text 
        | {{_'r-when-a-card'}}
      div.trigger-inline-button.js-open-card-title-popup 
        i.fa.fa-filter
      div.trigger-text 
        | {{_'r-is'}}
      div.trigger-dropdown
        select(id="arch-action")
          option(value="archived") {{_'r-archived'}}
          option(value="unarchived") {{_'r-unarchived'}}
      div.trigger-button.trigger-button-person.js-show-user-field
        i.fa.fa-user
      div.user-details.hide-element
        div.trigger-text
          | {{_'r-by'}}
        div.trigger-dropdown
          input(class="user-name",type=text,placeholder="{{_'username'}}")
    div.trigger-button.js-add-arch-trigger.js-goto-action
      i.fa.fa-plus

  div.trigger-item
      div.trigger-content
        div.trigger-text 
          | {{{_'r-board-note'}}}

template(name="boardCardTitlePopup")
    form
      label
        | Card Title Filter
        input.js-card-filter-name(type="text" value=title autofocus)
      input.js-card-filter-button.primary.wide(type="submit" value="{{_ 'set-filter'}}")

   
  



