template(name="dateBadge")
  if canModifyCard
    a.js-edit-date.card-date(title="{{showTitle}} {{_ 'predicate-week'}} {{#if showWeekOfYear}}{{showWeek}}{{/if}}" class="{{classes}}")
      time(datetime="{{showISODate}}")
        | {{showDate}}
        if showWeekOfYear
          b
            | {{showWeek}}
  else
    a.card-date(title="{{showTitle}} {{_ 'predicate-week'}} {{#if showWeekOfYear}}{{showWeek}}{{/if}}" class="{{classes}}")
      time(datetime="{{showISODate}}")
        | {{showDate}}
        if showWeekOfYear
          b
            | {{showWeek}}

template(name="dateCustomField")
  a(title="{{showTitle}} {{_ 'predicate-week'}} {{#if showWeekOfYear}}{{showWeek}}{{/if}}" class="{{classes}}")
    time(datetime="{{showISODate}}")
      | {{showDate}}
      if showWeekOfYear
        b
          | {{showWeek}}

template(name="minicardReceivedDate")
  if canModifyCard
    a.js-edit-date.card-date.received-date(title="{{_ 'card-received'}} {{_ 'predicate-week'}} {{#if showWeekOfYear}}{{showWeek}}{{/if}}" class="{{classes}}")
      time(datetime="{{showISODate}}")
        | {{showDate}}
        if showWeekOfYear
          b
            | {{showWeek}}
  else
    a.card-date.received-date(title="{{_ 'card-received'}} {{_ 'predicate-week'}} {{#if showWeekOfYear}}{{showWeek}}{{/if}}" class="{{classes}}")
      time(datetime="{{showISODate}}")
        | {{showDate}}
        if showWeekOfYear
          b
            | {{showWeek}}

template(name="minicardStartDate")
  if canModifyCard
    a.js-edit-date.card-date.start-date(title="{{_ 'card-start'}} {{_ 'predicate-week'}} {{#if showWeekOfYear}}{{showWeek}}{{/if}}" class="{{classes}}")
      time(datetime="{{showISODate}}")
        | {{showDate}}
        if showWeekOfYear
          b
            | {{showWeek}}
  else
    a.card-date.start-date(title="{{_ 'card-start'}} {{_ 'predicate-week'}} {{#if showWeekOfYear}}{{showWeek}}{{/if}}" class="{{classes}}")
      time(datetime="{{showISODate}}")
        | {{showDate}}
        if showWeekOfYear
          b
            | {{showWeek}}

template(name="minicardDueDate")
  if canModifyCard
    a.js-edit-date.card-date.due-date(title="{{_ 'card-due'}} {{_ 'predicate-week'}} {{#if showWeekOfYear}}{{showWeek}}{{/if}}" class="{{classes}}")
      time(datetime="{{showISODate}}")
        | {{showDate}}
        if showWeekOfYear
          b
            | {{showWeek}}
  else
    a.card-date.due-date(title="{{_ 'card-due'}} {{_ 'predicate-week'}} {{#if showWeekOfYear}}{{showWeek}}{{/if}}" class="{{classes}}")
      time(datetime="{{showISODate}}")
        | {{showDate}}
        if showWeekOfYear
          b
            | {{showWeek}}

template(name="minicardEndDate")
  if canModifyCard
    a.js-edit-date.card-date.end-date(title="{{_ 'card-end'}} {{_ 'predicate-week'}} {{#if showWeekOfYear}}{{showWeek}}{{/if}}" class="{{classes}}")
      time(datetime="{{showISODate}}")
        | {{showDate}}
        if showWeekOfYear
          b
            | {{showWeek}}
  else
    a.card-date.end-date(title="{{_ 'card-end'}} {{_ 'predicate-week'}} {{#if showWeekOfYear}}{{showWeek}}{{/if}}" class="{{classes}}")
      time(datetime="{{showISODate}}")
        | {{showDate}}
        if showWeekOfYear
          b
            | {{showWeek}}

template(name="minicardCustomFieldDate")
  a(title="{{_ 'date'}} {{_ 'predicate-week'}} {{#if showWeekOfYear}}{{showWeek}}{{/if}}" class="{{classes}}")
    time(datetime="{{showISODate}}")
      | {{showDate}}
      if showWeekOfYear
        b
          | {{showWeek}}

template(name="editCardReceivedDatePopup")
  .datepicker-container
    form.edit-date
      .fields
        .left
          label(for="date") {{_ 'date'}}
          input.js-date-field#date(type="date" name="date" value=showDate autofocus)
        .right
          label(for="time") {{_ 'time'}}
          input.js-time-field#time(type="time" name="time" value=showTime)
      if error.get
        .warning {{_ error.get}}
      button.primary.wide.left.js-submit-date(type="submit") {{_ 'save'}}
      button.js-delete-date.negate.wide.right.js-delete-date {{_ 'delete'}}

template(name="editCardStartDatePopup")
  .datepicker-container
    form.edit-date
      .fields
        .left
          label(for="date") {{_ 'date'}}
          input.js-date-field#date(type="date" name="date" value=showDate autofocus)
        .right
          label(for="time") {{_ 'time'}}
          input.js-time-field#time(type="time" name="time" value=showTime)
      if error.get
        .warning {{_ error.get}}
      button.primary.wide.left.js-submit-date(type="submit") {{_ 'save'}}
      button.js-delete-date.negate.wide.right.js-delete-date {{_ 'delete'}}

template(name="editCardDueDatePopup")
  .datepicker-container
    form.edit-date
      .fields
        .left
          label(for="date") {{_ 'date'}}
          input.js-date-field#date(type="date" name="date" value=showDate autofocus)
        .right
          label(for="time") {{_ 'time'}}
          input.js-time-field#time(type="time" name="time" value=showTime)
      if error.get
        .warning {{_ error.get}}
      button.primary.wide.left.js-submit-date(type="submit") {{_ 'save'}}
      button.js-delete-date.negate.wide.right.js-delete-date {{_ 'delete'}}

template(name="editCardEndDatePopup")
  .datepicker-container
    form.edit-date
      .fields
        .left
          label(for="date") {{_ 'date'}}
          input.js-date-field#date(type="date" name="date" value=showDate autofocus)
        .right
          label(for="time") {{_ 'time'}}
          input.js-time-field#time(type="time" name="time" value=showTime)
      if error.get
        .warning {{_ error.get}}
      button.primary.wide.left.js-submit-date(type="submit") {{_ 'save'}}
      button.js-delete-date.negate.wide.right.js-delete-date {{_ 'delete'}}
