template(name="cardDetails")
  section.card-details.js-card-details: .card-details-canvas
    if cover
      .card-details-cover(style="background-image: url({{ cover.url }})")

    .card-details-header
      +inlinedForm(classNames="js-card-details-title")
        input.field.single-line(type="text" value=title autofocus)
        .edit-controls.clearfix
          button.primary.confirm(type="submit") {{_ 'save'}}
          a.fa.fa-times-thin.js-close-inlined-form
      else
        a.fa.fa-angle-left.close-card-details.js-close-card-details
        a.fa.fa-bars.card-details-menu.js-open-card-details-menu
        h2.card-details-title.js-card-title(
          class="{{#if currentUser.isBoardMember}}js-open-inlined-form is-editable{{/if}}")
            = title
        p.card-details-list
          | {{_ 'in-list'}}
          a.card-details-list-title(
            class="{{#if currentUser.isBoardMember}}js-move-card is-editable{{/if}}")
            = list.title
            if currentUser.isBoardMember
              i.fa.fa-chevron-down

    .card-details-items
      .card-details-item.card-details-item-members
        h3 {{_ 'members'}}
        each members
          +userAvatar(userId=this size="small" cardId=../_id)
        a.member.add-member.card-details-item-add-button.js-add-members
          i.fa.fa-plus

      .card-details-item.card-details-item-labels
        h3 {{_ 'labels'}}
        .js-add-labels
          each labels
            span.card-label(class="card-label-{{color}}" title=name)= name
          a.card-label.add-label.js-add-labels
            i.fa.fa-plus

    //- XXX We should use "editable" to avoide repetiting ourselves
    if currentUser.isBoardMember
      h3 Description
      +inlinedForm(classNames="js-card-description")
        +editor(autofocus=true)
          = description
        .edit-controls.clearfix
          button.primary(type="submit") {{_ 'edit'}}
          a.fa.fa-times-thin.js-close-inlined-form
      else
        a.js-open-inlined-form
          if description
            +viewer
              = description
          else
            | {{_ 'edit'}}
    else if description
      h3 Description
      +viewer
        = description
    if attachments.count
      hr
      +WindowAttachmentsModule(card=this)
    if isLoaded
      hr
      +WindowActivityModule(card=this)

template(name="cardDetailsActionsPopup")
  if currentUser.isBoardMember
    ul.pop-over-list
      li: a.js-members Edit Members…
      li: a.js-labels Edit Labels…
      li: a.js-attachments Edit Attachments…
  hr
  ul.pop-over-list
    li: a.js-copy Copy card
    li: a.js-archive Archive Card

template(name="moveCardPopup")
  +boardLists

template(name="cardMembersPopup")
  ul.pop-over-member-list
    each board.members
      li.item(class="{{#if isCardMember}}active{{/if}}")
        a.name.js-select-member(href="#")
          +userAvatar(user=user size="small")
          span.full-name
            = user.profile.name
            | (<span class="username">{{ user.username }}</span>)
          if isCardMember
            i.fa.fa-check

template(name="cardLabelsPopup")
  ul.edit-labels-pop-over
    each board.labels
      li
        a.card-label-edit-button.fa.fa-pencil.js-edit-label
        span.card-label.card-label-selectable.js-select-label(class="card-label-{{color}}"
          class="{{# if isLabelSelected ../_id }}active{{/ if }}")
            = name
            if currentUser.isBoardAdmin
              span.card-label-selectable-icon.fa.fa-check
  a.quiet-button.full.js-add-label {{_ 'label-create'}}
