template(name="minicard")
  .minicard(
    class="{{#if isImportedCard}}imported-card{{/if}}"
    class="{{#if isImportedBoard}}imported-board{{/if}}")
    if cover
      .minicard-cover(style="background-image: url('{{cover.url}}');")
    if labels
      .minicard-labels
        each labels
          .minicard-label(class="card-label-{{color}}" title="{{name}}")
    .minicard-title
      if isImported
        span.imported-icon.fa.fa-share-alt
      +viewer
        = title
    .dates
      if getStart
        .date
          +minicardStartDate
      if getDue
        .date
          +minicardDueDate
      if getSpentTime
        .date
          +cardSpentTime

    if getMembers
      .minicard-members.js-minicard-members
        each getMembers
          +userAvatar(userId=this)
    .badges
      if comments.count
        .badge(title="{{_ 'card-comments-title' comments.count }}")
          span.badge-icon.fa.fa-comment-o.badge-comment
          span.badge-text= comments.count
      if getDescription
        .badge.badge-state-image-only(title=getDescription)
          span.badge-icon.fa.fa-align-left
      if attachments.count
        .badge
          span.badge-icon.fa.fa-paperclip
          span.badge-text= attachments.count
      if checklists.count
        .badge(class="{{#if checklistFinished}}is-finished{{/if}}")
          span.badge-icon.fa.fa-check-square-o
          span.badge-text.check-list-text {{checklistFinishedCount}}/{{checklistItemCount}}
