template(name="minicard")
  .minicard.nodragscroll(
    class="{{#if isLinkedCard}}linked-card{{/if}}"
    class="{{#if isLinkedBoard}}linked-board{{/if}}"
    class="{{agingClass}}"
    class="{{#if colorClass}}minicard-{{colorClass}}{{/if}}"
    style="{{colorStyle}}")
    if canMoveCard
      if isTouchScreenOrShowDesktopDragHandles
        .handle
          i.fa.fa-arrows
      //- #459: keyboard/screen-reader reordering (visually hidden, focusable).
      .minicard-move-buttons.sr-only
        a.js-card-move-up(href="#" role="button" aria-label="{{_ 'move-card-up'}}") {{_ 'move-card-up'}}
        a.js-card-move-down(href="#" role="button" aria-label="{{_ 'move-card-down'}}") {{_ 'move-card-down'}}
    if canModifyCard
      a.minicard-details-menu-with-handle.js-open-minicard-details-menu(title="{{_ 'cardDetailsActionsPopup-title'}}")
        i.fa.fa-bars
    if showDependencyConnectHandle
      a.dependency-connect-handle.js-dependency-connect-handle(title="{{_ 'drag-to-connect'}}")
        i.fa.fa-dot-circle-o
    .dates
      if showReceived
        if getReceived
          .date
            +minicardReceivedDate
      if showStart
        if getStart
          .date
            +minicardStartDate
      if showDue
        if getDue
          .date(class="{{#if getDueComplete}}due-complete{{/if}}")
            +minicardDueDate
      if showEnd
        if getEnd
           +minicardEndDate
      if getSpentTime
        .date
          +cardSpentTime
    if cover
      if currentBoard.allowsCoverAttachmentOnMinicard
        .minicard-cover(style="background-image: url('{{cover.link 'original'}}?dummyReloadAfterSessionEstablished={{sess}}');")

    // Upload progress indicator for drag-and-drop uploads
    if hasActiveUploads
      .minicard-upload-progress
        .upload-progress-header
          i.fa.fa-upload
          span {{_ 'uploading-files'}} ({{uploadCount}})
        each uploads
          .upload-progress-item(class="{{#if $eq status 'error'}}upload-error{{/if}}")
            .upload-progress-filename {{file.name}}
            .upload-progress-bar
              .upload-progress-fill(style="width: {{progress}}%")
            if $eq status 'error'
              .upload-progress-error
                i.fa.fa-warning
                span {{_ 'upload-failed'}}
            else if $eq status 'completed'
              .upload-progress-success
                i.fa.fa-check
                span {{_ 'upload-completed'}}

    .minicard-title
      if showDueComplete
        if canModifyCard
          a.minicard-complete-toggle.js-toggle-card-complete(title="{{#if getDueComplete}}{{_ 'card-mark-incomplete'}}{{else}}{{_ 'card-mark-complete'}}{{/if}}")
            .materialCheckBox(class="{{#if getDueComplete}}is-checked{{/if}}")
      if $eq 'prefix-with-full-path' currentBoard.presentParentTask
        .parent-prefix
          | {{ parentString ' > ' }}
      if $eq 'prefix-with-parent' currentBoard.presentParentTask
        .parent-prefix
          | {{ parentCardName }}
      if isLinkedBoard
        a.js-linked-link
          span.linked-icon
            i.fa.fa-folder
      else if isLinkedCard
        a.js-linked-link
          span.linked-icon
            i.fa.fa-id-card
      if getArchived
        span.linked-icon.linked-archived
          i.fa.fa-archive
      +viewer
        if showCardNumber
          span.card-number
            | ##{getCardNumber} &nbsp;
        = getTitle
    if showLabels
      if labels
        .minicard-labels(class="{{#if hiddenMinicardLabelText}}minicard-labels-no-text{{/if}}")
          each labels
            unless hiddenMinicardLabelText
              span.js-card-label.card-label(class="{{labelColorClass color}}" style="{{labelColorStyle color}}" title=name)
                +viewer
                  = name
            if hiddenMinicardLabelText
              .minicard-label(class="{{labelColorClass color}}" style="{{labelColorStyle color}}" title="{{name}}")

    .minicard-custom-fields
      each customFieldsWD
        if definition.showOnCard
          if trueValue
            .minicard-custom-field
              // If there is custom field label, show label at left,
              // and value at right
              if definition.showLabelOnMiniCard
                .minicard-custom-field-item
                  +viewer
                    = definition.name
                .minicard-custom-field-item
                  if $eq definition.type "currency"
                    +viewer
                      = formattedCurrencyCustomFieldValue(definition)
                  else if $eq definition.type "date"
                    .date
                      +minicardCustomFieldDate
                  else if $eq definition.type "checkbox"
                    .materialCheckBox(class="{{#if value }}is-checked{{/if}}")
                  else if $eq definition.type "stringtemplate"
                    +viewer
                      = formattedStringtemplateCustomFieldValue(definition)
                  else
                    +viewer
                      = trueValue
              else
                // If there is no custom field label,
                // show value full width
                .minicard-custom-field-item-fullwidth
                  if $eq definition.type "currency"
                    +viewer
                      = formattedCurrencyCustomFieldValue(definition)
                  else if $eq definition.type "date"
                    .date
                      +minicardCustomFieldDate
                  else if $eq definition.type "checkbox"
                    .materialCheckBox(class="{{#if value }}is-checked{{/if}}")
                  else if $eq definition.type "stringtemplate"
                    +viewer
                      = formattedStringtemplateCustomFieldValue(definition)
                  else
                    +viewer
                      = trueValue

    if showAssignee
      if getAssignees
        .minicard-assignees.js-minicard-assignees
          each getAssignees
            +userAvatar(userId=this)

    if showMembers
      if getMembers
        .minicard-members.js-minicard-members
          each getMembers
            +userAvatar(userId=this)

    if showCreatorOnMinicard
      .minicard-creator
        +userAvatar(userId=this.userId noRemove=true)

    if shouldShowChecklistAtMinicard
      each shouldShowChecklistAtMinicard
        +minicardChecklist(checklist=. card=..)
    .badges
      if dependencyBadge
        .badge.badge-state-image-only.minicard-dependencies(title="{{_ 'card-dependencies'}}")
          span.badge-icon(style="color:{{dependencyBadge.color}}")
            i.fa(class="fa-{{dependencyBadge.icon}}")
          span.badge-text {{ dependencyBadge.count }}
      if stickers.length
        .badge.badge-state-image-only.minicard-stickers
          each stickers
            span.badge-icon.minicard-sticker(title="{{#if name}}{{name}}{{else}}{{icon}}{{/if}}")
              i.fa(class="fa-{{icon}} {{#if highlight}}sticker-{{highlight}}{{/if}}")
      if comments.length
        .badge(title="{{_ 'card-comments-title' comments.length }}")
          span.badge-icon.badge-comment.badge-text
            i.fa.fa-comment-o
            = ' '
            = comments.length
            //span.badge-comment.badge-text
            //|
              {{_ 'comment'}}
      if getDescription
        unless currentBoard.allowsDescriptionTextOnMinicard
          .badge.badge-state-image-only(title=getDescription)
            span.badge-icon
              i.fa.fa-file-text-o
      if getVoteQuestion
        .badge.badge-state-image-only(title=getVoteQuestion)
          span.badge-icon(class="{{#if voteState}}text-green{{/if}}")
            i.fa.fa-thumbs-up
          span.badge-text {{ voteCountPositive }}
          span.badge-icon(class="{{#if $eq voteState false}}text-red{{/if}}")
            i.fa.fa-thumbs-down
          span.badge-text {{ voteCountNegative }}
      if getPokerQuestion
        .badge.badge-state-image-only(title=getPokerQuestion)
          span.badge-icon(class="{{#if pokerState}}text-green{{/if}}")
            i.fa.fa-check-square
          if expiredPoker
            span.badge-text {{ getPokerEstimation }}
      if attachments.length
        if currentBoard.allowsBadgeAttachmentOnMinicard
          .badge
            span.badge-icon
              i.fa.fa-paperclip
            span.badge-text= attachments.length
      if showSubtasks
        if allSubtasks.count
          .badge
            span.badge-icon
              i.fa.fa-globe
            span.badge-text.check-list-text {{subtasksFinishedCount}}/{{allSubtasksCount}}
            //{{subtasksFinishedCount}}/{{subtasksCount}} does not work because when a subtaks is archived, the count goes down
      //- #6431: compact checklist item-count badge (finished/total). The outer
        guard is a cheap boolean, so when the setting is off the checklist
        counting below never runs.
      if showChecklistCountBadge
        if checklists.length
          .badge(class="{{#if checklistFinished}}is-finished{{/if}}" title="{{_ 'checklists'}}")
            span.badge-icon
              i.fa.fa-check-square-o
            span.badge-text.check-list-text {{checklistFinishedCount}}/{{checklistItemCount}}
      if currentBoard.allowsCardSortingByNumber
        if currentBoard.allowsCardSortingByNumberOnMinicard
          .badge
            span.badge-icon
              i.fa.fa-sort-numeric-asc
            span.badge-text.check-list-sort {{ sort }}
    if currentBoard.allowsDescriptionTextOnMinicard
      if getDescription
        .minicard-description
          +viewer
            | {{ getDescription }}
    if shouldShowListOnMinicard
      .minicard-list-name
        i.fa.fa-list
        | {{ listName }}
    if $eq 'subtext-with-full-path' currentBoard.presentParentTask
      .parent-subtext
        | {{ parentString ' > ' }}
    if $eq 'subtext-with-parent' currentBoard.presentParentTask
      .parent-subtext
        | {{ parentCardName }}

template(name="editCardSortOrderPopup")
  input.js-edit-card-sort-popup(type='text' autofocus value=sort dir="auto")
  .edit-controls.clearfix
    button.primary.confirm.js-submit-edit-card-sort-popup(type="submit") {{_ 'save'}}

template(name="minicardChecklist")
  .minicard-checklist
    .checklist-header
      if canModifyCard
        +inlinedForm(classNames="js-edit-checklist-title" checklist=checklist)
          +editChecklistForm(checklist=checklist)
        else
          h4.checklist-title.js-open-inlined-form.is-editable= checklist.title
      else
        h4.checklist-title= checklist.title
      if canModifyCard
        a.checklist-menu.js-open-checklist-menu(title="{{_ 'checklistActionsPopup-title'}}")
          i.fa.fa-bars
    .checklist-items.js-checklist-items
      each visibleItems
        +inlinedForm(classNames="js-edit-checklist-item" item=. checklist=checklist)
          +editChecklistItemForm(type='item' item=. checklist=checklist)
        else
          +checklistItemDetail(item=. checklist=checklist card=card)
    if canModifyCard
      +inlinedForm(autoclose=false classNames="js-add-checklist-item" checklist=checklist)
        +addChecklistItemForm(checklist=checklist showNewlineBecomesNewChecklistItem=false)
      else
        a.add-checklist-item.js-open-inlined-form(title="{{_ 'add-checklist-item'}}")
          i.fa.fa-plus

