template(name="minicard")
  .minicard.card.js-minicard(
    class="{{#if isSelected}}is-selected{{/if}}")
    a.minicard-details.clearfix.show(href=absoluteUrl)
      if cover
        .minicard-cover.js-card-cover(style="background-image: url({{cover.url}});")
      if labels
        .minicard-labels
          each labels
            .minicard-label(class="card-label-{{color}}" title="{{name}}")
      .minicard-title= title
      if members
        .minicard-members.js-minicard-members
          each members
            +userAvatar(userId=this size="small" cardId="{{../_id}}")
      .badges
        if comments.count
          .badge(title="{{_ 'card-comments-title' comments.count }}")
            span.badge-icon.icon-sm.fa.fa-comment-o
            .badge-text= comments.count
        if description
          .badge.badge-state-image-only(title=description)
            span.badge-icon.icon-sm.fa.fa-align-left
        if attachments.count
          .badge
            span.badge-icon.icon-sm.fa.fa-paperclip
            span.badge-text= attachments.count
