template(name="listHeader")
  .list-header.js-list-header
    +inlinedForm
      +editListTitleForm
    else
      h2.list-header-name(
        class="{{#if currentUser.isBoardMember}}js-open-inlined-form is-editable{{/if}}")
        = title
        if isWipLimitEnabled
          span
            | ({{cards.count}}/#{wipLimit.value})
        if showCardsCountForList cards.count
          = cards.count
          span.lowercase
            |  {{_ 'cards'}}
      if currentUser.isBoardMember
        if isWatching
          i.list-header-watch-icon.fa.fa-eye
        div.list-header-menu
          a.js-add-card.fa.fa-plus.list-header-plus-icon
          a.fa.fa-navicon.js-open-list-menu

template(name="editListTitleForm")
  .list-composer
    input.list-name-input.full-line(type="text" value=title autofocus)
    .edit-controls.clearfix
      button.primary.confirm(type="submit") {{_ 'save'}}
      a.fa.fa-times-thin.js-close-inlined-form

template(name="listActionPopup")
  ul.pop-over-list
    li: a.js-toggle-watch-list {{#if isWatching}}{{_ 'unwatch'}}{{else}}{{_ 'watch'}}{{/if}}
  unless currentUser.isCommentOnly
    hr
    ul.pop-over-list
      if cards.count
        li: a.js-select-cards {{_ 'list-select-cards'}}
        hr
    if currentUser.isBoardAdmin
      ul.pop-over-list
        li: a.js-set-wip-limit {{#if isWipLimitEnabled }}{{_ 'edit-wip-limit'}}{{else}}{{_ 'setWipLimitPopup-title'}}{{/if}}
      hr
    ul.pop-over-list
      li: a.js-close-list {{_ 'archive-list'}}
    hr
    ul.pop-over-list
      li: a.js-more {{_ 'listMorePopup-title'}}

template(name="boardLists")
  ul.pop-over-list
    each currentBoard.lists
      li
        if($eq ../_id _id)
          a.disabled {{title}} ({{_ 'current'}})
        else
          a.js-select-list= title

template(name="listMorePopup")
  p.quiet
    span.clearfix
      span {{_ 'link-list'}}
      = ' '
      i.fa.colorful(class="{{#if board.isPublic}}fa-globe{{else}}fa-lock{{/if}}")
      input.inline-input(type="text" readonly value="{{ rootUrl }}")
    | {{_ 'added'}}
    span.date(title=list.createdAt) {{ moment createdAt 'LLL' }}
    a.js-delete {{_ 'delete'}}

template(name="listDeletePopup")
  p {{_ "list-delete-pop"}}
  unless archived
   p {{_ "list-delete-suggest-archive"}}
  button.js-confirm.negate.full(type="submit") {{_ 'delete'}}

template(name="setWipLimitPopup")
  #js-wip-limit-edit
    lable {{_ 'set-wip-limit-value'}}
    ul.pop-over-list
      li: a.js-enable-wip-limit Enable WIP Limit 
        if isWipLimitEnabled  
          i.fa.fa-check
    if isWipLimitEnabled
      p
        input.wip-limit-value(type="number" value="{{ wipLimitValue }}" min="1" max="99" onkeydown="return false")
        input.wip-limit-apply(type="submit" value="{{_ 'apply'}}")
        input.wip-limit-error
        
template(name="wipLimitErrorPopup")
  .wip-limit-invalid
    p The number of tasks in this list is higher than the WIP limit you've defined.
    p Please move some tasks out of this list, or set a higher WIP limit.
    button.full.js-back-view(type="submit") {{_ 'cancel'}}
