template(name="sidebar")
  .board-sidebar.sidebar(class="{{#if isOpen}}is-open{{/if}}")
    a.sidebar-tongue.js-toogle-sidebar(
      class="{{#if isTongueHidden}}is-hidden{{/if}}")
      i.fa.fa-chevron-left
    .sidebar-content.js-board-sidebar-content.js-perfect-scrollbar
      unless isDefaultView
        h2
          a.fa.fa-chevron-left.js-back-home
          = getViewTitle
      +Template.dynamic(template=getViewTemplate)

template(name='homeSidebar')
  +membersWidget
  hr
  +labelsWidget
  hr
  h3
    i.fa.fa-comments-o
    | {{_ 'activities'}}
  +activities(mode="board")

template(name="membersWidget")
  .board-widget.board-widget-members
    h3
      i.fa.fa-user
      | {{_ 'members'}}
    .board-widget-content
      each currentBoard.members
        +userAvatar(
          userId=this.userId
          draggable=true
          size="small"
          showStatus=true)
      unless isSandstorm
        if currentUser.isBoardAdmin
          a.js-open-manage-board-members
      .clearfix

template(name="labelsWidget")
  .board-widget.board-widget-labels
    h3
      i.fa.fa-tags
      | {{_ 'labels'}}
    .board-widget-content
      each currentBoard.labels
        a.card-label(class="card-label-{{color}}").js-label
          span.card-label-name= name
      a.card-label.js-add-label
        i.fa.fa-plus

template(name="memberPopup")
  .board-member-menu: .mini-profile-info
    +userAvatar(user=user)
    .info
      h3.bottom
        a.js-profile(href="{{pathFor route='Profile' username=user.username}}")
          = user.profile.name
      p.quiet.bottom @#{user.username}
    if currentUser.isBoardMember
      ul.pop-over-list
        li
          a.js-filter-member Filter cards
        if currentUser.isBoardAdmin
          li
            a.js-change-role
              | {{_ 'change-permissions'}}
              span.quiet (#{memberType})
          li
            if currentUser.isBoardAdmin
              a.js-remove-member {{_ 'remove-from-board'}}
            else
              a.js-leave-member {{_ 'leave-board'}}
