template(name="sidebar")
  .board-sidebar.sidebar(class="{{#if isOpen}}is-open{{/if}}")
    a.sidebar-tongue.js-toggle-sidebar(
      class="{{#if isTongueHidden}}is-hidden{{/if}}")
      i.fa.fa-angle-left
    .sidebar-shadow
      .sidebar-content.sidebar-shortcuts
        a.board-header-btn.js-shortcuts
          i.fa.fa-keyboard-o
          span {{_ 'keyboard-shortcuts' }}
      .sidebar-content.js-board-sidebar-content.js-perfect-scrollbar
        a.hide-btn.js-hide-sidebar
          i.fa.fa-angle-right
        unless isDefaultView
          h2
            a.fa.fa-chevron-left.js-back-home
            = getViewTitle
        +Template.dynamic(template=getViewTemplate)

template(name='homeSidebar')
  +membersWidget
  hr
  +labelsWidget
  hr
  h3
    i.fa.fa-comments-o
    | {{_ 'activities'}}
  +activities(mode="board")

template(name="membersWidget")
  .board-widget.board-widget-members
    h3
      i.fa.fa-user
      | {{_ 'members'}}
    .board-widget-content
      each currentBoard.activeMembers
        +userAvatar(userId=this.userId showStatus=true)
      if isSandstorm
        if currentUser.isBoardMember
          a.member.add-member.sandstorm-powerbox-request-identity
            i.fa.fa-plus
      else if currentUser.isBoardAdmin
        a.member.add-member.js-manage-board-members
          i.fa.fa-plus
      .clearfix
  if isInvited
    hr
    p
      i.fa.fa-exclamation-circle
      | {{_ 'just-invited'}}
    button.js-member-invite-accept.primary {{_ 'accept'}}
    button.js-member-invite-decline {{_ 'decline'}}

template(name="labelsWidget")
  .board-widget.board-widget-labels
    h3
      i.fa.fa-tags
      | {{_ 'labels'}}
    .board-widget-content
      each currentBoard.labels
          a.card-label(class="card-label-{{color}}"
            class="{{#if currentUser.isBoardMember}}js-label{{/if}}")
            span.card-label-name= name
      if currentUser.isBoardAdmin
        a.card-label.add-label.js-add-label
          i.fa.fa-plus

template(name="memberPopup")
  .board-member-menu
    .miniprofile-header
      +userAvatar(userId=user._id showEdit=true)
      .info
        h3
          .js-profile= user.profile.fullname
        p.quiet @#{user.username}
        if isInvited
          p
            i.fa.fa-exclamation-circle
            | {{_ 'not-accepted-yet'}}

    ul.pop-over-list
      li
        a.js-filter-member {{_ 'filter-cards'}}
      if currentUser.isBoardAdmin
        unless isSandstorm
          li
            a.js-change-role
              | {{_ 'change-permissions'}}
              span.quiet (#{memberType})
          li
            if $eq currentUser._id userId
              a.js-leave-member {{_ 'leave-board'}}
            else
              a.js-remove-member {{_ 'remove-from-board'}}


template(name="removeMemberPopup")
  p {{_ 'remove-member-pop' name=user.profile.fullname username=user.username boardTitle=board.title}}
  button.js-confirm.negate.full(type="submit") {{_ 'remove-member'}}

template(name="addMemberPopup")
  .js-search-member
    +esInput(index="users")

  if loading.get
    +spinner
  else if error.get
    .warning {{_ error.get}}
  else
    ul.pop-over-list
      +esEach(index="users")
        li.item.js-member-item(class="{{#if isBoardMember}}disabled{{/if}}")
          a.name.js-select-member(title="{{profile.fullname}} ({{username}})")
            +userAvatar(userId=_id esSearch=true)
            span.full-name
              = profile.fullname
              | (<span class="username">{{username}}</span>)
            if isBoardMember
              .quiet ({{_ 'joined'}})

      +ifEsIsSearching(index='users')
        +spinner

      +ifEsHasNoResults(index="users")
        .manage-member-section
          p.quiet {{_ 'no-results'}}
    button.js-email-invite.primary.full {{_ 'email-invite'}}

template(name="changePermissionsPopup")
  ul.pop-over-list
    li
      a(class="{{#if isLastAdmin}}disabled{{else}}js-set-admin{{/if}}")
        | {{_ 'admin'}}
        if isAdmin
          i.fa.fa-check
        span.sub-name {{_ 'admin-desc'}}
    li
      a(class="{{#if isLastAdmin}}disabled{{else}}js-set-normal{{/if}}")
        | {{_ 'normal'}}
        unless isAdmin
          i.fa.fa-check
        span.sub-name {{_ 'normal-desc'}}
  if isLastAdmin
    hr
    p.quiet.bottom {{_ 'last-admin-desc'}}
