template(name="sidebar")
  .board-sidebar.sidebar(class="{{#if isOpen}}is-open{{/if}}")
    a.sidebar-tongue.js-toogle-sidebar(
      class="{{#if isTongueHidden}}is-hidden{{/if}}")
      i.fa.fa-angle-left
    .sidebar-content.js-board-sidebar-content.js-perfect-scrollbar
      unless isDefaultView
        h2
          a.fa.fa-chevron-left.js-back-home
          = getViewTitle
      +Template.dynamic(template=getViewTemplate)

template(name='homeSidebar')
  +membersWidget
  hr
  +labelsWidget
  hr
  h3
    i.fa.fa-comments-o
    | {{_ 'activities'}}
  +activities(mode="board")

template(name="membersWidget")
  .board-widget.board-widget-members
    h3
      i.fa.fa-user
      | {{_ 'members'}}
    .board-widget-content
      each currentBoard.members
        +userAvatar(userId=this.userId showStatus=true)
      unless isSandstorm
        if currentUser.isBoardAdmin
          a.member.add-member.js-manage-board-members
            i.fa.fa-plus
      .clearfix

template(name="labelsWidget")
  .board-widget.board-widget-labels
    h3
      i.fa.fa-tags
      | {{_ 'labels'}}
    .board-widget-content
      each currentBoard.labels
          a.card-label(class="card-label-{{color}}").js-label
            span.card-label-name= name
      a.card-label.add-label.js-add-label
        i.fa.fa-plus

template(name="memberPopup")
  .board-member-menu
    .miniprofile-header
      +userAvatar(userId=user._id)
      .info
        h3
          .js-profile= user.profile.fullname
        p.quiet @#{user.username}

    if currentUser.isBoardMember
      ul.pop-over-list
        li
          a.js-filter-member Filter cards
        unless isSandstorm
          if currentUser.isBoardAdmin
            li
              a.js-change-role
                | {{_ 'change-permissions'}}
                span.quiet (#{memberType})
            li
              if currentUser.isBoardAdmin
                a.js-remove-member {{_ 'remove-from-board'}}
              else
                a.js-leave-member {{_ 'leave-board'}}


template(name="removeMemberPopup")
  p {{_ 'remove-member-pop' name=user.profile.name username=user.username boardTitle=board.title}}
  button.js-confirm.negate.full(type="submit") {{_ 'remove-member'}}

template(name="addMemberPopup")
  .js-search-member
    +esInput(index="users")

  ul.pop-over-member-list
    +esEach(index="users")
      li.item.js-member-item(class="{{#if isBoardMember }}disabled{{/if}}")
        a.name.js-select-member(title="{{ profile.name }} ({{ username }})")
          +userAvatar(userId=_id)
          span.full-name
            = profile.name
            | (<span class="username">{{ username }}</span>)
          if isBoardMember
            .extra-text.quiet ({{_ 'joined'}})

    +ifEsIsSearching(index='users')
      +spinner

    +ifEsHasNoResults(index="users")
      .manage-member-section
        p.quiet {{_ 'no-results'}}

template(name="changePermissionsPopup")
  ul.pop-over-list
    li
      a(class="{{#if isLastAdmin}}disabled{{else}}js-set-admin{{/if}}")
        | {{_ 'admin'}}
        if isAdmin
          i.fa.fa-check
        span.sub-name {{_ 'admin-desc'}}
    li
      a(class="{{#if isLastAdmin}}disabled{{else}}js-set-normal{{/if}}")
        | {{_ 'normal'}}
        unless isAdmin
          i.fa.fa-check
        span.sub-name {{_ 'normal-desc'}}
  if isLastAdmin
    hr
    p.quiet.bottom {{_ 'last-admin-desc'}}
