template(name="sidebar")
  .board-sidebar.sidebar(class="{{#if isOpen}}is-open{{/if}}")
    a.sidebar-tongue.js-toggle-sidebar(
      class="{{#if isTongueHidden}}is-hidden{{/if}}",
      title="{{showTongueTitle}}")
      i.fa.fa-angle-left
    .sidebar-shadow
      .sidebar-content.sidebar-shortcuts
        a.board-header-btn.js-shortcuts
          i.fa.fa-keyboard-o
          span {{_ 'keyboard-shortcuts' }}
      .sidebar-content.js-board-sidebar-content.js-perfect-scrollbar
        a.hide-btn.js-hide-sidebar
          i.fa.fa-angle-right
        unless isDefaultView
          h2
            a.fa.fa-chevron-left.js-back-home
            = getViewTitle
        +Template.dynamic(template=getViewTemplate)

template(name='homeSidebar')
  +membersWidget
  hr
  +labelsWidget
  hr
  h3
    i.fa.fa-comments-o
    | {{_ 'activities'}}
  +activities(mode="board")

template(name="membersWidget")
  .board-widget.board-widget-members
    h3
      i.fa.fa-user
      | {{_ 'members'}}
    .board-widget-content
      each currentBoard.activeMembersTeams
        if isTeam
          +userAvatar(userId=this.userId showStatus=false isTeam=this.isTeam)
        else
          +userAvatar(userId=this.userId showStatus=true isTeam=this.isTeam)
      if isSandstorm
        if currentUser.isBoardMember
          a.member.add-member.sandstorm-powerbox-request-identity
            i.fa.fa-plus
      else if currentUser.isBoardAdmin
        a.member.add-member.js-manage-board-members(title="{{_ 'add-user'}}")
          i.fa.fa-plus
          i.fa.fa-user
        a.member.add-member.js-manage-board-team(title="{{_ 'add-team'}}")
          i.fa.fa-plus
          i.fa.fa-users
      .clearfix
  if isInvited
    hr
    p
      i.fa.fa-exclamation-circle
      | {{_ 'just-invited'}}
    button.js-member-invite-accept.primary {{_ 'accept'}}
    button.js-member-invite-decline {{_ 'decline'}}

template(name="labelsWidget")
  .board-widget.board-widget-labels
    h3
      i.fa.fa-tags
      | {{_ 'labels'}}
    .board-widget-content
      each currentBoard.labels
        a.card-label(class="card-label-{{color}}"
          class="{{#if currentUser.isNotCommentOnly}}js-label{{/if}}")
          span.card-label-name= name
      if currentUser.isBoardAdmin
        a.card-label.add-label.js-add-label
          i.fa.fa-plus

template(name="memberPopup")
  .board-member-menu
    .miniprofile-header
      if isTeam
        +userAvatar(userId=team._id showEdit=true isTeam=this.isTeam)
      else
        +userAvatar(userId=user._id showEdit=true isTeam=this.isTeam)
      .info
        if isTeam
          h3
            .js-profile= team.name
        else
          h3
            .js-profile= user.profile.fullname
          p.quiet @#{user.username}
          if isInvited
            p
              i.fa.fa-exclamation-circle
              | {{_ 'not-accepted-yet'}}

    ul.pop-over-list
      unless isTeam
        li
          a.js-filter-member {{_ 'filter-cards'}}
      else
        li
          ul
            each item in members
              li {{#if item.profile.fullname}} #{item.profile.fullname} {{else}} #{item.username} {{/if}}

      if currentUser.isBoardAdmin
        unless isSandstorm
          unless isTeam
            li
              a.js-change-role
                | {{_ 'change-permissions'}}
                span.quiet (#{memberType})
          li
            if $eq currentUser._id userId
              a.js-leave-member {{_ 'leave-board'}}
            else
              a.js-remove-member {{_ 'remove-from-board'}}

template(name="removeMemberPopup")
  p {{_ 'remove-member-pop' name=fullname username=username boardTitle=board.title}}
  button.js-confirm.negate.full(type="submit") {{_ 'remove-member'}}

template(name="leaveBoardPopup")
  p {{_ 'leave-board-pop' boardTitle=board.title}}
  button.js-confirm.negate.full(type="submit") {{_ 'leave-board'}}

template(name="changePermissionsPopup")
  ul.pop-over-list
    li
      a(class="{{#if isLastAdmin}}disabled{{else}}js-set-admin{{/if}}")
        | {{_ 'admin'}}
        if isAdmin
          i.fa.fa-check
        span.sub-name {{_ 'admin-desc'}}
    li
      a(class="{{#if isLastAdmin}}disabled{{else}}js-set-normal{{/if}}")
        | {{_ 'normal'}}
        if isNormal
          i.fa.fa-check
        span.sub-name {{_ 'normal-desc'}}
    li
      a(class="{{#if isLastAdmin}}disabled{{else}}js-set-comment-only{{/if}}")
        | {{_ 'comment-only'}}
        if isCommentOnly
          i.fa.fa-check
        span.sub-name {{_ 'comment-only-desc'}}
  if isLastAdmin
    hr
    p.quiet.bottom {{_ 'last-admin-desc'}}
