template(name="board")
  if isBoardReady.get
    if currentBoard
      if onlyShowCurrentCard
        +cardDetails(currentCard)
      else
        +boardBody
    else
      //- XXX We need a better error message in case the board has been archived
      +message(label="board-not-found")
  else
    +spinner

template(name="boardBody")
  .board-wrapper(class=currentBoard.colorClass)
    +sidebar
    .board-canvas.js-swimlanes.js-perfect-scrollbar(
      class="{{#if Sidebar.isOpen}}is-sibling-sidebar-open{{/if}}"
      class="{{#if MultiSelection.isActive}}is-multiselection-active{{/if}}"
      class="{{#if draggingActive.get}}is-dragging-active{{/if}}")
      if showOverlay.get
        .board-overlay
      if isViewSwimlanes
        if isMiniScreen
        if currentList
          a.list-header-left-icon.fa.fa-angle-left.js-unselect-list
      h2.list-header-name(
        class="{{#if currentUser.isBoardMember}}js-open-inlined-form is-editable{{/if}}")
        = title
        if wipLimit.enabled
         |&nbsp;(
         span(class="{{#if reachedWipLimit}}highlight{{/if}}") {{cards.count}}
         |/#{wipLimit.value})

        if showCardsCountForList cards.count
          = cards.count
          span.lowercase
            |  {{_ 'cards'}}
        if currentList
          if isWatching
            i.list-header-watch-icon.fa.fa-eye
          div.list-header-menu
            unless currentUser.isCommentOnly
              if canSeeAddCard
                a.js-add-card.fa.fa-plus.list-header-plus-icon
              a.fa.fa-navicon.js-open-list-menu
        each currentBoard.swimlanes
          +swimlane(this)
      if isViewLists
        +listsGroup
