template(name="board")
  if Template.subscriptionsReady
    if currentBoard
      .board-wrapper(class=currentBoard.colorClass)
        .board-canvas(
          class=currentBoard.sidebarSize
          class="{{#if MultiSelection.isActive}}is-multiselection-active{{/if}}"
          class="{{#if draggingActive.get}}is-dragging-active{{/if}}")
          if showOverlay.get
            .board-overlay
          .lists.js-lists
            each currentBoard.lists
              +list(this)
              if currentCardIsInThisList
                +cardDetails(currentCard)
            if currentUser.isBoardMember
              +addListForm
        +sidebar
    else
      +message(label="board-no-found")
  else
    +spinner

template(name="addListForm")
  .list.js-list.list-composer.js-list-composer
    +inlinedForm(autoclose=false)
      input.list-name-input(type="text" placeholder="{{_ 'add-list'}}"
        autocomplete="off" autofocus)
      .edit-controls.clearfix
        button.primary.confirm(type="submit") {{_ 'save'}}
        a.fa.fa-times-thin.js-close-inlined-form
    else
      a.js-open-inlined-form
        i.fa.fa-plus
        | {{_ 'add-list'}}
