template(name="boardList")
  .wrapper
    ul.board-list.clearfix
      li.js-add-board
        a.board-list-item.label {{_ 'add-board'}}
      each boards
        li(class="{{#if isStarred}}starred{{/if}}" class=colorClass)
          if isInvited
            .board-list-item
              span.details
                span.board-list-item-name= title
                i.fa.js-star-board(
                  class="fa-star{{#if isStarred}} is-star-active{{else}}-o{{/if}}"
                  title="{{_ 'star-board-title'}}")
                p.board-list-item-desc {{_ 'just-invited'}}
                button.js-accept-invite.primary {{_ 'accept'}}
                button.js-decline-invite {{_ 'decline'}}
          else
            a.js-open-board.board-list-item(href="{{pathFor 'board' id=_id slug=slug}}")
              span.details
                span.board-list-item-name= title
                i.fa.js-star-board(
                  class="fa-star{{#if isStarred}} is-star-active{{else}}-o{{/if}}"
                  title="{{_ 'star-board-title'}}")
              i.fa.js-clone-board(class="fa-clone")
                if hasSpentTimeCards
                  i.fa.js-has-spenttime-cards(
                    class="fa-circle{{#if hasOvertimeCards}} has-overtime-card-active{{else}} no-overtime-card-active{{/if}}"
                    title="{{#if hasOvertimeCards}}{{_ 'has-overtime-cards'}}{{else}}{{_ 'has-spenttime-cards'}}{{/if}}")

                p.board-list-item-desc= description

template(name="boardListHeaderBar")
  h1 {{_ 'my-boards'}}
  .board-header-btns.right
    a.board-header-btn.js-open-archived-board
      i.fa.fa-archive
      span {{_ 'archives'}}
    a.board-header-btn(href="{{pathFor 'board' id=templatesBoardId slug=templatesBoardSlug}}")
      i.fa.fa-clone
      span {{_ 'templates'}}
