template(name="boardList")
  .wrapper 
    div.myboards
      h2
        i.fa.fa-user
          span  {{_ "personal-board"}}
    ul.board-list.clearfix
      if boards.count
        each boards
          li(class="{{#if isStarred}}starred{{/if}}" class=colorClass)
            a.js-open-board(href="{{pathFor 'board' id=_id slug=slug}}")
              span.details
                span.board-list-item-name= title
                i.fa.js-star-board(
                  class="fa-star{{#if isStarred}} is-star-active{{else}}-o{{/if}}"
                  title="{{_ 'star-board-title'}}")
      li.js-add-board.is-idle.add-board
        a.label {{_ 'add-board'}}

    if organizations.count
      each organizations
        div.window-module
          .window-module-title
            span.i.fa.fa-users.fa-lg
            h3 {{title}}
            a.board-list-header-link.js-open-org(href="{{ pathFor route='organization' shortName=shortName }}")
                  span {{_ "members"}}
        ul.board-list.clearfix
          each boards this._id
            li(class="{{#if isStarred}}starred{{/if}}" class=colorClass)
              a.js-open-board(href="{{ pathFor route='board' id=_id slug=slug }}")
                span.details
                  span.board-list-item-name= title
                  i.fa.js-star-board(
                    class="fa-star{{#if isStarred}} is-star-active{{else}}-o{{/if}}"
                    title="{{_ 'star-board-title'}}")
          if currentUser.isOrganizationAdmin this._id
            li.js-add-board.is-idle.add-board(id="org-{{_id}}")
              a.label {{_ 'add-board'}}
    div.window-module
      .window-module-title
         a.add-org.js-add-org
          h2
            i.fa.fa-plus
            | {{_ 'add-organization'}}
      
template(name="createOrgPopup") 
  form
    .addOrg
      input.org-title-input(type="text" placeholder="{{_ 'organization-title'}}"
        autocomplete="off" autofocus required)
      span.js-short-name-invalid {{_ 'short-name-invalid'}}
      input.org-short-name-input(type="text" placeholder="{{_ 'organization-short-name'}}"
        autocomplete="off" required)
      textarea.org-desc-input(type="text" placeholder="{{_ 'organization-description'}}"
        autocomplete="off" )
      .edit-controls.clearfix
        button.primary.confirm(type="submit") {{_ 'save'}}

