template(name="board")
  if isBoardReady.get
    if currentBoard
      if onlyShowCurrentCard
        +cardDetails(currentCard)
      else
        +boardBody
    else
      //-- XXX We need a better error message in case the board has been archived
      +message(label="board-not-found")
      //-- | {{goHome}}
  else
    +spinner

template(name="boardBody")
  if notDisplayThisBoard
   | {{_ 'tableVisibilityMode-allowPrivateOnly'}}
  else
    .board-wrapper(class=currentBoard.colorClass)
      .board-canvas.js-swimlanes(
        class="{{#if hasSwimlanes}}dragscroll{{/if}}"
        class="{{#if Sidebar.isOpen}}is-sibling-sidebar-open{{/if}}"
        class="{{#if MultiSelection.isActive}}is-multiselection-active{{/if}}"
        class="{{#if draggingActive.get}}is-dragging-active{{/if}}"
        class="{{#unless isVerticalScrollbars}}no-scrollbars{{/unless}}")
        if showOverlay.get
          .board-overlay
        if currentBoard.isTemplatesBoard
          each currentBoard.swimlanes
            +swimlane(this)
        else if isViewSwimlanes
          if hasSwimlanes
            each currentBoard.swimlanes
              +swimlane(this)
          else
            a.js-empty-board-add-swimlane(title="{{_ 'add-swimlane'}}")
              h1.big-message.quiet
                | {{_ 'add-swimlane'}} +
        else if isViewLists
          +listsGroup(currentBoard)
        else if isViewCalendar
          +calendarView
        else
          +listsGroup(currentBoard)
      +sidebar

template(name="calendarView")
  if isViewCalendar
    .calendar-view.swimlane
      if currentCard
        +cardDetails(currentCard)
      +fullcalendar(calendarOptions)
