//-
  XXX This template can't be transformed into a component because it is
  included by iron-router. That's a bug.
  See https://github.com/peerlibrary/meteor-blaze-components/issues/44
template(name="board")
  +boardComponent

template(name="boardComponent")
  if this
    .board-wrapper(class=colorClass)
      .board-canvas(class=sidebarSize)
        .lists.js-lists
          each lists
            +list(this)
            if currentCardIsInThisList
              +cardDetails(currentCard)
          if currentUser.isBoardMember
            +addListForm
      +sidebar
  else
    +message(label="board-no-found")

template(name="addListForm")
  .list.js-list.list-composer.js-list-composer
    +inlinedForm(autoclose=false)
      input.list-name-input(type="text" placeholder="{{_ 'add-list'}}"
        autocomplete="off" autofocus value=getCache)
      div.edit-controls.clearfix
        button.primary.confirm.js-save-edit(type="submit") {{_ 'save'}}
        a.fa.fa-times-thin.js-close-inlined-form
    else
      .js-open-inlined-form
        i.fa.fa-plus
        | {{_ 'add-list'}}
