template(name="board")
  if isBoardReady.get
    if currentBoard
      +boardBody
    else
      //- XXX We need a better error message in case the board has been archived
      +message(label="board-not-found")
  else
    +spinner

template(name="boardBody")
  .board-wrapper(class=currentBoard.colorClass)
    +sidebar
    .board-canvas(
      class="{{#if Sidebar.isOpen}}is-sibling-sidebar-open{{/if}}"
      class="{{#if MultiSelection.isActive}}is-multiselection-active{{/if}}"
      class="{{#if draggingActive.get}}is-dragging-active{{/if}}")
      if showOverlay.get
        .board-overlay
      .lists.js-lists
        each currentBoard.lists
          +list(this)
          if currentCardIsInThisList
            +cardDetails(currentCard)
        if currentUser.isBoardMember
          +addListForm

template(name="addListForm")
  .list.js-list.list-composer.js-list-composer
    .list-header
      +inlinedForm(autoclose=false)
        input.list-name-input.full-line(type="text" placeholder="{{_ 'add-list'}}"
          autocomplete="off" autofocus)
        .edit-controls.clearfix
          button.primary.confirm(type="submit") {{_ 'save'}}
          a.fa.fa-times-thin.js-close-inlined-form(href="#")
      else
        a.open-list-composer.js-open-inlined-form(href="#")
          i.fa.fa-plus
          | {{_ 'add-list'}}
