template(name="boards")
  if boards
    ul.board-list.clearfix
      each boards
        li(class="{{#if isStarred}}starred{{/if}}" class=colorClass)
          a.js-open-board(href="{{ pathFor route='Board' boardId=_id }}")
            span.details
              span.board-list-item-name= title
              i.fa.fa-star-o.js-star-board(
                class="{{#if isStarred}}is-star-active{{/if}}"
                title="{{_ 'star-board-title'}}")
  else
    p.quiet {{_ 'no-boards'}}
    button.js-add-board {{_ 'add-board'}}
