template(name="settingHeaderBar")
  h1.header-setting-menu
    span {{_ 'admin-panel'}}

  .setting-header-btns.left
    if currentUser
      a.setting-header-btn.settings(class=isSettingsActive href="{{pathFor 'setting'}}")
        span.emoji-icon
        i.fa.fa-cog
        span {{_ 'settings'}}

      a.setting-header-btn.people(class=isPeopleActive href="{{pathFor 'people'}}")
        span.emoji-icon
        i.fa.fa-users
        span {{_ 'people'}}

      a.setting-header-btn.informations(class=isAdminReportsActive href="{{pathFor 'admin-reports'}}")
        span.emoji-icon
        i.fa.fa-file-text-o
        span {{_ 'reports'}}

      a.setting-header-btn.informations(class=isAttachmentsActive href="{{pathFor 'attachments'}}")
        span.emoji-icon
        i.fa.fa-paperclip
        span {{_ 'attachments'}}

      a.setting-header-btn.informations(class=isTranslationActive href="{{pathFor 'translation'}}")
        span.emoji-icon
        i.fa.fa-globe
        span {{_ 'translation'}}

      a.setting-header-btn.informations(class=isInformationActive href="{{pathFor 'information'}}")
        span.emoji-icon
        i.fa.fa-info-circle
        span {{_ 'info'}}

    else
      a.setting-header-btn.js-log-in(
        title="{{_ 'log-in'}}")
        span.emoji-icon
        i.fa.fa-sign-in
        span {{_ 'log-in'}}
